* {
  font-family: "kanit";
}
/* #bgbody {
    background-image: url(../img/Winter.jpg);
} */

#bg {
  /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
  /* background-image: url(include/img/3274254.jpg); */
  background-image: url(../img/132.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%
  /* background-size: auto; */

}
#btn h1 {
  text-align: center;
  margin-top: -13px;
}
/* #btn .col-md-4 {
  margin-top: 9%;
  margin-bottom: 18%;
} */

/* #btn .col-md-6 {
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
/* background-image: url(../img/21404.jpg); */
/* background-repeat: no-repeat;
  background-position: center;
} */

#btn p {
  text-align: right;
}

#btn button {
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  color: #fff;
}

 .btn-block {
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    color: #fff;

}
